# Base de données
DB_ROOT_PASSWORD=changeme_root
DB_NAME=app_dev
DB_USER=app
DB_PASSWORD=changeme_app

# Mercure
MERCURE_JWT_KEY=changeme_mercure_secret_key_min_32_chars

# Image applicative
APP_IMAGE_TAG=latest